---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
{
    date: "May 2024 – Present",
    title: "Backend Developer",
    company: "DOFLEINI SRL, Havana",
    description:
      "Working with Nest.js and MongoDB to develop backend systems. Responsible for designing and implementing robust APIs and ensuring smooth integration with frontend applications.",
    link: "https://www.dofleini.com/en/",
  },
  {
    date: "2023 – April 2024",
    title: "Backend Developer",
    company: "TECOPOS, Havana",
    description:
      "Developed a payment system using Node.js, Express.js, Sequelize, and PostgreSQL. Created a web-based ticket management system using TypeScript, Node.js, Express.js, Sequelize ORM, and PostgreSQL.",
    link: "https://tecopos.com/",
  },
  {
    date: "2020–2023",
    title: "Head of Department",
    company: "INSMET, Matanzas",
    description:
      "Developed systems to automate the collection of meteorological data from stations. Created tools to estimate variables like humidity and RealFeel using Python and PyQt.",
    link: "http://www.insmet.cu/",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
